apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vikunja

resources:
- deployment.yaml
- service.yaml

images:
  - name: vikunja-redis-container-image
    newName: docker.io/library/redis
    newTag: "8.6.0"