apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

helmCharts:
- name: grafana
  releaseName: grafana
  namespace: monitoring
  repo: https://grafana-community.github.io/helm-charts
  version: "11.1.7"
  valuesFile: values.yaml

resources:
- admin-user-es.yaml
