plugins:
  - https://github.com/VictoriaMetrics/victorialogs-datasource/releases/download/v0.13.2/victoriametrics-logs-datasource-v0.13.2.zip;victoriametrics-logs-datasource

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: victoriametrics
        type: prometheus
        orgId: 1
        url: http://vmsingle-vm-stack-victoria-metrics-k8s-stack.monitoring.svc.cluster.local:8428
        access: proxy
        isDefault: true
        updateIntervalSeconds: 10
        editable: true
      - name: victorialogs
        type: victoriametrics-logs-datasource
        orgId: 1
        url: http://victoria-logs-victoria-logs-single-server.monitoring.svc.cluster.local:9428
        access: proxy
        isDefault: false
        updateIntervalSeconds: 10
        editable: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: true
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    # =================================================
    # I made these, they're in ./dashboards
    # =================================================
    airquality:
      url: https://raw.githubusercontent.com/UnknownBlunders/K8s/refs/heads/main/manifests/apps/monitoring/grafana/dashboards/airquality.json
      datasource: victoriametrics
    resources-by-node:
      url: https://raw.githubusercontent.com/UnknownBlunders/K8s/refs/heads/main/manifests/apps/monitoring/grafana/dashboards/resources-by-node.json
      datasource: victoriametrics

  # =================================================
  # From GitHub raw manifests
  # =================================================

    # https://grafana.com/grafana/dashboards/21550-simple-logs/
    victoria-logs-simple:
      url: https://raw.githubusercontent.com/UnknownBlunders/K8s/refs/heads/main/manifests/apps/monitoring/grafana/dashboards/victorialogs-simple.json
      datasource:
        - { name: DS_LOGS, value: victorialogs }
    # https://grafana.com/grafana/dashboards/19308-prometheus-nut-exporter-for-druggeri/
    nut-exporter:
      url: https://raw.githubusercontent.com/DRuggeri/nut_exporter/1e886dd2e0c31edb27896e3b2d2f95853ca5e66b/dashboard/dashboard.json
      datasource:
        - { name: DS_PROMETHEUS, value: victoriametrics }

  # =================================================
  # From Grafana's website, updated by renovate
  # =================================================
    # https://grafana.com/grafana/dashboards/10229-victoriametrics-single-node/
    victoriametrics:
      # renovate: depName="VictoriaMetrics - single-node"
      gnetId: 10229
      revision: 36
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/12683-victoriametrics-vmagent/
    vmagent:
      # renovate: depName="VictoriaMetrics - vmagent"
      gnetId: 12683
      revision: 20
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/1860-node-exporter-full/
    node-exporter:
      # renovate: depName="Node Exporter Full"
      gnetId: 1860
      revision: 42
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/22604-smartctl-exporter-dashboard/
    smartctl-exporter:
      # renovate: depName="SMARTctl Exporter Dashboard"
      gnetId: 22604
      revision: 2
      datasource:
        - { name: DS_PROMETHEUS, value: victoriametrics }
    # https://grafana.com/grafana/dashboards/22084-victorialogs-single-node/
    victoria-logs-metrics:
      # renovate: depName="VictoriaLogs - single-node"
      gnetId: 22084
      revision: 9
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/20842-cert-manager-kubernetes/
    cert-manager:
      # renovate: depName="Cert-manager-Kubernetes"
      gnetId: 20842
      revision: 3
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/22236-etcd/
    etcd-uhthomas:
      # renovate: depName="etcd"
      gnetId: 22236
      revision: 4
      datasource: victoriametrics

  # =============================================================================================
  # all of the following are from: https://github.com/dotdc/grafana-dashboards-kubernetes
  # Still from Grafana's website, updated by renovate
  # =============================================================================================
    # https://grafana.com/grafana/dashboards/15761-kubernetes-system-api-server/
    dotdc-k8s-api-server:
      # renovate: depName="Kubernetes / System / API Server"
      gnetId: 15761
      revision: 20
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/15762-kubernetes-system-coredns/
    dotdc-k8s-coredns:
      # renovate: depName="Kubernetes / System / CoreDNS"
      gnetId: 15762
      revision: 22
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/15757-kubernetes-views-global/
    dotdc-k8s-global:
      # renovate: depName="Kubernetes / Views / Global"
      gnetId: 15757
      revision: 43
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/15758-kubernetes-views-namespaces/
    dotdc-k8s-namespaces:
      # renovate: depName="Kubernetes / Views / Namespaces"
      gnetId: 15758
      revision: 44
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/15759-kubernetes-views-nodes/
    dotdc-k8s-nodes:
      # renovate: depName="Kubernetes / Views / Nodes"
      gnetId: 15759
      revision: 40
      datasource: victoriametrics
    # https://grafana.com/grafana/dashboards/15760-kubernetes-views-pods/
    dotdc-k8s-pods:
      # renovate: depName="Kubernetes / Views / Pods"
      gnetId: 15760
      revision: 37
      datasource: victoriametrics
    

admin:
  existingSecret: "grafana-admin-user-secret"
  userKey: admin-user
  passwordKey: admin-password

grafana.ini:
  server:
    root_url: https://grafana.blunders.me
    domain: grafana.blunders.me
  auth.anonymous:
    enabled: true
    org_id: 1
    org_name: Main Org.
    org_role: Viewer 
  news:
    news_feed_enabled: false
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: false
  plugins:
    allow_loading_unsigned_plugins: "victoriametrics-logs-datasource"

ingress:
  enabled: false
route:
  main:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    hostnames:
      - grafana.blunders.me
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: envoy-internal
        namespace: envoy-gateway
        sectionName: https

persistence:
  enabled: false

serviceMonitor:
  enabled: true
