prod-cluster-kcp01.blunders.me.yaml
prod-cluster-kcp02.blunders.me.yaml
prod-cluster-kcp03.blunders.me.yaml
prod-cluster-kw01.blunders.me.yaml
prod-cluster-kw02.blunders.me.yaml
talosconfig
prod-cluster-kw03.blunders.me.yaml
