apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talosupgrade
  # annotations:
  #   tuppr.home-operations.com/suspend: "true"
spec:
  talos:
    # renovate: datasource=github-releases depName=siderolabs/talos
    version: "v1.12.4"

  policy:
    rebootMode: powercycle
  healthChecks:
    - &CONTROLPLANE
      apiVersion: v1
      kind: pod
      name: kube-apiserver-kcp01
      namespace: kube-system
      expr: status.containerStatuses[0].ready == true
    - !!merge <<: *CONTROLPLANE
      name: kube-apiserver-kcp02
    - !!merge <<: *CONTROLPLANE
      name: kube-apiserver-kcp03
    - !!merge <<: *CONTROLPLANE
      name: kube-controller-manager-kcp01
    - !!merge <<: *CONTROLPLANE
      name: kube-controller-manager-kcp02
    - !!merge <<: *CONTROLPLANE
      name: kube-controller-manager-kcp03
    - !!merge <<: *CONTROLPLANE
      name: kube-scheduler-kcp01
    - !!merge <<: *CONTROLPLANE
      name: kube-scheduler-kcp02
    - !!merge <<: *CONTROLPLANE
      name: kube-scheduler-kcp03
