controllers:
  network-ups-tools:
    strategy: Recreate
    containers:
      nut-server:
        image:
          repository: ghcr.io/jr0dd/network-ups-tools
          tag: v2.8.3@sha256:9f8e14d155c6ef05940cee6f8861e259e951eb11750aeddd02539d986dac1ca0
        env:
          TZ: "America/Chicago"
        resources:
          requests:
            cpu: 5m
            memory: 50Mi
          limits:
            memory: 50Mi
            devices.blunders.me/ups-usb: 1
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          # capabilities: { drop: ["ALL"] }
          seccompProfile:
            type: RuntimeDefault
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
service:
  nut-server:
    controller: network-ups-tools
    primary: true
    ports:
      http:
        port: 3493
        protocol: TCP
persistence:
  config:
    type: secret
    name: nut-config
    defaultMode: 0400
    globalMounts:
      - path: /etc/nut

