apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: paperless

resources:
- pv.yaml
- pvc.yaml
- deployment.yaml
- service.yaml

images:
  - name: paperless-redis-container-image
    newName: docker.io/library/redis
    newTag: "8.6.0"