server:
  persistentVolume:
    enabled: true
    existingClaim: "logs-pvc"

  podSecurityContext:
    enabled: true
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1018
  
  ingress:
    enabled: false
  route:
    enabled: true
    hostnames:
      - logs.blunders.me
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: envoy-internal
        namespace: envoy-gateway
        sectionName: https
