apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ha

resources:
- ns.yaml
- ./storage
- deployment.yaml
- service.yaml
- route.yaml

images:
  - name: ha-container-image
    newName: ghcr.io/home-assistant/home-assistant
    newTag: "2026.1.0"
